<a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="discounts-link" href="{$module_link}">
  <span class="link-item">
    <img src="{$module_link}view/img/icono-arbol.png" />
    <h4>My Forest</h4>
    {debug}
  </span>
</a>